body{
    margin: 0;
    background-color: #282D35;
}

nav{
    display: flex;
    align-items: center;
    background-color: #21222A;
    height: 90px;
    padding: 30px 25px;
}

nav > h3, nav > h4 {
    margin: 0;
}

nav > img {
    height: 30px;
    margin-right: 7px;
}

nav >h3 {
    margin-right: auto;
    color: #61DAFB;
}

nav > h4 {
    color: white;
}

main{
    padding: 57px 27px;
    color: white;
    background-image: url(./image/logo512.png);
    background-repeat: no-repeat;
    background-position: right 75%;
}
.mainsection{
    margin: 0;
    font-size: 39px;
    letter-spacing: -0.05em;
}

.main--facts{
    margin-top: 46px;
}

.main--facts > li {
    line-height: 28px;
}

.main--facts > li::marker {
    color:  #61DAFB;
    font-size: 1.4 rem;
  }